SECRET_KEY=troque-por-uma-chave-grande-e-secreta
DEBUG=False
ALLOWED_HOSTS=localhost,127.0.0.1,IP_DO_SERVIDOR,NOME_DO_SERVIDOR
CSRF_TRUSTED_ORIGINS=http://IP_DO_SERVIDOR,http://NOME_DO_SERVIDOR
SECURE_PROXY_SSL_HEADER=False
SECURE_SSL_REDIRECT=False
SESSION_COOKIE_SECURE=False
CSRF_COOKIE_SECURE=False

# Banco local SQLite.
SQLITE_NAME=data/db.sqlite3

GOVERNANCA_DOCUMENT_ROOT=media/governanca_documentos

AD_SERVER=
AD_USER=
AD_PASSWORD=
AD_BASE_DN=
AD_COMPUTERS_FILTER=(objectClass=computer)
AD_USERS_FILTER=(objectClass=user)

EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
EMAIL_HOST=
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_USE_SSL=False
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
EMAIL_TIMEOUT=15
DEFAULT_FROM_EMAIL=helpdesk@localhost

LOG_LEVEL=INFO
SCHEDULER_INTERVAL_SECONDS=86400
